#!/bin/env sh

# Install direnv from https://github.com/direnv/direnv

source_env_if_exists "$HOME"/.espressif/export.sh

export PYTHONPATH="$IDF_PATH/tools:$IDF_PATH/tools/ci/python_packages:$PYTHONPATH"